.courses-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
  font-family: "Segoe UI", sans-serif;
}

.courses-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.course-data {
  margin: 3rem 0;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(rgba(79, 183, 179, 0.7), rgba(79, 183, 179, 0.7));
}

.courses-data-card {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 3;
  position: relative;
}

.branchlist-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.card-content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  width: 400px;
  min-height: 400px;
  background: #4fb7b3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.course-card.hover {
  background: #badfdb;
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #000;
  color: #000;
  z-index: 10;
}

.course-heading {
  font-size: 24px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
  line-height: 1.5;
  margin: 1rem 0;
}

.features-list div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.list-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  display: inline-block;
}

.course-card .MuiButton-root {
  margin-top: auto;
  width: 200px;
  font-size: 14px;
  padding: 0.5rem 0;
  text-transform: initial;
  background: #fff;
  color: #000;
}

@media (max-width: 1024px) {
  .courses-data-card {
    padding: 1.5rem;
  }
  .course-card {
    width: 320px;
    min-height: 350px;
    padding: 1.5rem;
  }
  .card-content {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .courses-data-card {
    margin: 3rem auto;
    width: 95%;
    padding: 1rem;
  }
  .course-card {
    width: 100%;
    min-height: auto;
    padding: 1rem;
  }
  .card-content {
    flex-direction: column;
    gap: 2rem;
  }
}

.razor-pay-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-data-section {
  padding: 2rem;
}

.course-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}
