.details {
  padding: 0.5rem 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.details-container .stepper-details {
  padding: 5rem 0;
  margin-bottom: 2rem;
}

.preference-data .features-back-img {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5;
}

.details-card {
  position: absolute;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  width: 1300px;
  margin: 10rem 0;
}

.steps-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.heading-2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.small {
  display: block;
  margin-bottom: 1.5rem;
  color: #555;
  text-align: center;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 3rem;
  position: relative;
  width: 50%;
}

.steps-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-item {
  position: relative;
  text-align: center;
  flex: 1;
  cursor: pointer;
  z-index: 2;
}

.step-item .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d1d5db;
  color: #374151;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

.step-item.active .circle {
  background: #124170;
  color: #fff;
  transform: scale(1.1);
}

.step-item .label {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #555;
}

.step-item.active .label {
  color: #124170;
  font-weight: 600;
}

.step-item .line {
  position: absolute;
  top: 16px;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #d1d5db;
  z-index: -1;
}

.step-item .line-fill {
  height: 100%;
  background: #000;
  transition: width 0.5s ease-in-out;
}

.steps-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
}

.step-btn {
  width: 150px;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background: #d5e5d5;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.step-btn:hover {
  background: #91adc8;
}

.step-btn.primary {
  background: #239ba7;
  color: #fff;
}

.step-btn.primary:hover {
  background: #1c6ea4;
}

.step-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #000000;
  background: #f0f0f0;
}

.fields {
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem 0;
  display: flex;
}

.input-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}

/* .input-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5;
} */

.branch-data::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.preference-data {
  margin: 3rem 0;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(rgba(79,183,179,0.5), rgba(79,183,179,0.5));
}

.preference-data-card {
  width: 1200px;
  position: relative;
  height: 100%;
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 3;
}
