.exam-content {
  width: 800px;
  position: relative;
  height: 100%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background: #efefef;
  z-index: 3;
}

/* .exam-data-card {
  width: 1400px;
  position: relative;
  height: 100%;
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 3;

} */

.exam-data {
  margin: 3rem 0;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(rgba(79, 183, 179, 0.7), rgba(79, 183, 179, 0.7));
}

/* .exam-content:hover {
  background: #efefef;
  /* z-index: 1;
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
} */

.content-card {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 1rem;
  background: #f7f7f7;
  border-radius: 10px;
  display: flex;
  /* width: 100px; */
  align-items: center;
  /* justify-content: center; */
}

.content-card:hover {
  background: #fff;
  z-index: 1;
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.exams-row{
    height: 50%;
    display: flex;
    gap: 2rem;
}

.course-link {
  text-decoration: none;
  color: #000;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.left-column,
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
}

.course-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.exams-divider{
  border: 1px solid #000;
}

.exam-data-wrapper{
  padding: 2rem;
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation */
.float-in {
  animation: floatIn 0.6s ease-out forwards;
}