/* FOOTER CSS */
.footer {
  background: #fff;
  bottom: 0;
  left: 0;
  margin-top: auto;
  z-index: 1;
}

.footer1 {
  height: 3rem;
  width: 97%;
  color: #000;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
}

.footer1 .social-handles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.3rem;
  gap: 1rem;
  height: 80px;
}

.social-icons {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: contain; 
  transition: transform 0.2s ease;
}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.box-icon {
  width: 140%;
  height: 100%;
  fill: rgb(62, 49, 49);
}

.footer2 {
  padding: 1rem;
  color: #000;
}

.footer2 .menu {
  width: 350px;
}

.menu-1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer2 .header {
  color: #239ba7;
  font-size: 18px;
  font-weight: 700;
}

.footer2 a {
  text-decoration: none;
  color: #000;
}

.footer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}
